* {
  box-sizing: border-box; }

.relativeBlock, #shell #e_gui #e_toolBar .toolIcon, #shell #e_gui #e_toolBar #block_tools #ground, #shell #e_gui #e_toolBar #block_tools #wall, #shell #e_gui #e_toolBar #player_tools #player, #shell #e_gui #e_toolBar #enemy_tools #enemy_1, #shell #e_gui #e_console .consoleLog #console, #shell #e_gui #e_console .consoleLog #clearConsoleBtn, #shell #e_gui #e_console .positionDataContainer #mousePosition, #shell #e_gui #e_console .positionDataContainer #gridPosition {
  position: relative;
  display: block; }

.relativeInlineBlock, #shell #e_gui #e_menuBar #title, #shell #e_gui #e_menuBar .menuControls, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridWidthLabel, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridWidthTextField, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridHeightLabel, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridHeightTextField, #shell #e_gui #e_menuBar .menuControls .gridControls, #shell #e_gui #e_menuBar .menuControls .gridControls #genGridBtn, #shell #e_gui #e_menuBar .menuControls .gridControls #printBtn, #shell #e_gui #e_menuBar .menuControls .gridControls #clearBtn, #shell #e_gui #e_menuBar .menuControls #playTestBtn, #shell #e_gui #e_console .consoleLog {
  position: relative;
  display: inline-block; }

.borderSolidBlack1px, #shell #e_gui #e_menuBar, #shell #e_gui #e_toolBar, #shell #e_gui #e_console, #shell #loading_screen #loadingBar, #shell #loading_screen #loadingBar #progressBar {
  border: solid black 1px; }

/*BACKGROUND COLORS*/
.bgBlack {
  background-color: black; }

.bgBlue, #shell #e_gui #e_toolBar #player_tools #player {
  background-color: blue; }

.bgBrown, #shell #e_gui #e_toolBar #block_tools #ground {
  background-color: brown; }

.bgGrey, #shell #e_gui #e_toolBar #block_tools #wall {
  background-color: grey; }

.bgGreen, #shell #e_gui #e_grid {
  background-color: green; }

.bgRed, #shell #e_gui #e_toolBar #enemy_tools #enemy_1 {
  background-color: red; }

.bgWhite, #shell #e_gui #e_menuBar, #shell #e_gui #e_toolBar, #shell #e_gui #e_console {
  background-color: white; }

/*FONT COLORS*/
.fcBlack {
  color: black; }

.fcBlue {
  color: blue; }

.fcGreen {
  color: green; }

.fcRed {
  color: red; }

.fcWhite {
  color: white; }

.autoSize, #shell #e_gui #e_menuBar .menuControls, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridWidthLabel, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridWidthTextField, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridHeightLabel, #shell #e_gui #e_menuBar .menuControls .gridSizeContainer #gridHeightTextField, #shell #e_gui #e_menuBar .menuControls .gridControls, #shell #e_gui #e_menuBar .menuControls .gridControls #genGridBtn, #shell #e_gui #e_menuBar .menuControls .gridControls #printBtn, #shell #e_gui #e_menuBar .menuControls .gridControls #clearBtn, #shell #e_gui #e_toolBar #toolGroups, #shell #e_gui #e_console .consoleLog #clearConsoleBtn, #shell #e_gui #e_console .positionDataContainer {
  width: auto;
  height: auto; }

body {
  background-color: black;
  /*width:1280px; 
  height:720px; */
  margin: auto;
  overflow: hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px; }

div, textarea, button, input {
  position: absolute; }

/*LOADING SCREEN*/
#shell {
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 365px;
  position: relative; }
  #shell #e_gui #e_menuBar {
    width: 100%;
    min-width: 400px;
    height: auto;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px; }
    #shell #e_gui #e_menuBar #title {
      left: 1%;
      margin-right: 1%;
      font-size: 30px;
      font-weight: bold; }
    #shell #e_gui #e_menuBar .menuControls .gridSizeContainer {
      left: 1%;
      margin-top: 1%; }
    #shell #e_gui #e_menuBar .menuControls .gridControls {
      left: 1%;
      margin-top: 1%;
      margin-bottom: 1%; }
      #shell #e_gui #e_menuBar .menuControls .gridControls #genGridBtn {
        font-weight: bold; }
      #shell #e_gui #e_menuBar .menuControls .gridControls #printBtn {
        font-weight: bold; }
    #shell #e_gui #e_menuBar .menuControls #playTestBtn {
      width: 250px;
      height: 55px;
      font-weight: bold;
      margin-top: 1%; }
  #shell #e_gui #e_toolBar {
    width: auto;
    height: 620px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    /*TOOL SELECTORS*/ }
    #shell #e_gui #e_toolBar #toolGroups {
      position: relative;
      margin: auto;
      visibility: visible;
      /*left:400px;*/
      /*top:20px;*/ }
    #shell #e_gui #e_toolBar .toolIcon, #shell #e_gui #e_toolBar #block_tools #ground, #shell #e_gui #e_toolBar #block_tools #wall, #shell #e_gui #e_toolBar #player_tools #player, #shell #e_gui #e_toolBar #enemy_tools #enemy_1 {
      width: 50px;
      height: 50px;
      left: 25%;
      margin-top: 25%; }
  #shell #e_gui #e_grid {
    /*left:100px; 
    top:100px;*/
    overflow: auto; }
  #shell #e_gui #toolInterfaceContainer {
    left: 100px;
    top: 100px;
    overflow: auto; }
    #shell #e_gui #toolInterfaceContainer #toolInterface {
      left: 0px;
      top: 0px; }
  #shell #e_gui #e_console {
    width: 100%;
    min-width: 400px;
    height: auto;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px; }
    #shell #e_gui #e_console .consoleLog {
      width: 100%;
      padding-right: 170px; }
      #shell #e_gui #e_console .consoleLog #console {
        width: 100%;
        height: 85%;
        left: 0.5%;
        margin-top: 0.5%; }
      #shell #e_gui #e_console .consoleLog #clearConsoleBtn {
        font-weight: bold;
        left: 0.5%;
        margin-top: 0.5%;
        margin-bottom: 0.5%; }
    #shell #e_gui #e_console .positionDataContainer {
      position: absolute;
      right: 0.5%;
      top: 0.5%;
      margin-top: 0.5%; }
      #shell #e_gui #e_console .positionDataContainer .positionData .type, #shell #e_gui #e_console .positionDataContainer #mousePosition .type, #shell #e_gui #e_console .positionDataContainer #gridPosition .type {
        left: 50px;
        top: 2px; }
      #shell #e_gui #e_console .positionDataContainer .positionData .x, #shell #e_gui #e_console .positionDataContainer #mousePosition .x, #shell #e_gui #e_console .positionDataContainer #gridPosition .x {
        left: 5px;
        top: 20px; }
        #shell #e_gui #e_console .positionDataContainer .positionData .x div, #shell #e_gui #e_console .positionDataContainer #mousePosition .x div, #shell #e_gui #e_console .positionDataContainer #gridPosition .x div {
          left: 20px;
          top: 0px;
          color: darkred; }
      #shell #e_gui #e_console .positionDataContainer .positionData .y, #shell #e_gui #e_console .positionDataContainer #mousePosition .y, #shell #e_gui #e_console .positionDataContainer #gridPosition .y {
        left: 80px;
        top: 20px; }
        #shell #e_gui #e_console .positionDataContainer .positionData .y div, #shell #e_gui #e_console .positionDataContainer #mousePosition .y div, #shell #e_gui #e_console .positionDataContainer #gridPosition .y div {
          left: 20px;
          top: 0px;
          color: darkred; }
      #shell #e_gui #e_console .positionDataContainer #mousePosition {
        background-color: lightblue;
        width: 150px;
        height: 40px;
        font-weight: bold; }
      #shell #e_gui #e_console .positionDataContainer #gridPosition {
        background-color: lightblue;
        width: 150px;
        height: 40px;
        font-weight: bold; }
  #shell #loading_screen {
    background-color: #FF3333;
    width: 1180px;
    height: 620px;
    left: 100px;
    top: 100px;
    visibility: hidden; }
    #shell #loading_screen #loadingBar {
      background-color: #66CC66;
      border-radius: 2px;
      width: 60%;
      height: 10%;
      left: 20%;
      top: 45%; }
      #shell #loading_screen #loadingBar #progressBar {
        background-color: #CC3333;
        border-radius: 2px;
        width: 0%;
        height: 100%;
        left: -1px;
        top: -1px; }
      #shell #loading_screen #loadingBar #progressText {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        line-height: 10%;
        width: 60%;
        height: 10%;
        left: 20%;
        top: 45%; }

#game {
  background-color: green;
  z-index: 1;
  overflow: hidden; }

/*# sourceMappingURL=styles.css.map */
