/*LOADING SCREEN*/

#shell {
	width: 100%;
	min-width: 400px;
	height: 100%;
	min-height: 365px;
	position: relative;

	#e_gui {

		#e_menuBar 	{
			@extend .bgWhite;
			@extend .borderSolidBlack1px;
			width:100%;
			min-width: 400px;
			height:auto;
			left:0px; 
			top:0px; 
			padding:0px; 
			margin:0px;

			#title {
				@extend .relativeInlineBlock;
				left:1%;
				margin-right: 1%;
				font-size:30px; 
				font-weight:bold;}

			.menuControls {
				@extend .autoSize;
				@extend .relativeInlineBlock;

				.gridSizeContainer {
					@extend .autoSize;
					@extend .relativeInlineBlock;
					left: 1%;
					margin-top: 1%;

					#gridWidthLabel {
						@extend .autoSize; 
						@extend .relativeInlineBlock;}
					#gridWidthTextField {
						@extend .autoSize; 
						@extend .relativeInlineBlock;}

					#gridHeightLabel {
						@extend .autoSize;
						@extend .relativeInlineBlock;}
					#gridHeightTextField {
						@extend .autoSize;
						@extend .relativeInlineBlock;}
				}

				.gridControls {
					@extend .autoSize;
					@extend .relativeInlineBlock;
					left: 1%;
					margin-top: 1%;
					margin-bottom: 1%;

					#genGridBtn {
						@extend .autoSize; 
						@extend .relativeInlineBlock;
						font-weight:bold;}
					#printBtn {
						@extend .autoSize; 
						@extend .relativeInlineBlock;
						font-weight:bold;}
					#clearBtn {
						@extend .autoSize; 
						@extend .relativeInlineBlock;}
				}

				#playTestBtn {
					@extend .relativeInlineBlock;
					width:250px; 
					height:55px;
					font-weight:bold;
					margin-top: 1%;}
			}

			

			
		}

		#e_toolBar 	{
			@extend .bgWhite;
			@extend .borderSolidBlack1px;
			width:auto; 
			height:620px; 
			left:0px;
			padding:0px; 
			margin:0px;

			#toolGroups {
				position: relative;
				@extend .autoSize;
				margin:auto;
				visibility: visible;
				/*left:400px;*/ 
				/*top:20px;*/}

			/*TOOL SELECTORS*/
			.toolIcon {
				@extend .relativeBlock;
				width:50px; 
				height:50px;
				left: 25%;
				margin-top:25%;}

			#block_tools {
				#ground {
					@extend .bgBrown;
					@extend .toolIcon;}
				#wall {
					@extend .bgGrey;
					@extend .toolIcon;}
			}
			#player_tools {
				#player {
					@extend .bgBlue;
					@extend .toolIcon;}
			}
			#enemy_tools {
				#enemy_1 {
					@extend .bgRed;
					@extend .toolIcon;}
			}
		}

		#e_grid	{
			@extend .bgGreen;
			/*left:100px; 
			top:100px;*/	
			overflow:auto;
		}

		#toolInterfaceContainer {
			left:100px; 
			top:100px;	
			overflow:auto;

			#toolInterface {
				left:0px; 
				top:0px;}
		}

		#e_console {
			@extend .bgWhite;
			@extend .borderSolidBlack1px;
			width:100%;
			min-width: 400px;
			height:auto; 
			left:0px; 
			bottom:0px; 
			padding:0px; 
			margin:0px;

			.consoleLog {
				@extend .relativeInlineBlock;
				width: 100%;
				padding-right: 170px;

				#console {
					@extend .relativeBlock;
					width: 100%;
					height: 85%;
					left: 0.5%;
					margin-top: 0.5%;
				}

				#clearConsoleBtn {
					@extend .autoSize;
					@extend .relativeBlock;
					font-weight:bold;
					left: 0.5%;
					margin-top: 0.5%;
					margin-bottom: 0.5%;
				}
			}

			.positionDataContainer {
				@extend .autoSize;
				position: absolute;
				right: 0.5%;
				top: 0.5%;
				margin-top: 0.5%;

				.positionData {
					.type {
						left: 50px;
						top: 2px;}

					.x {
						left: 5px;
						top: 20px;

						div {
							left:20px;
							top: 0px;
							color: darkred;}
					}

					.y {
						left: 80px;
						top: 20px;

						div {
							left:20px;
							top: 0px;
							color: darkred;}
					}
				}

				#mousePosition {
					@extend .relativeBlock;
					background-color:lightblue; 
					width:150px; 
					height:40px;
					font-weight:bold;

					@extend .positionData;}

				#gridPosition {
					@extend .relativeBlock;
					background-color:lightblue; 
					width:150px; 
					height:40px;
					font-weight:bold;

					@extend .positionData;}
			}
		}
	}

	#loading_screen {
		background-color:#FF3333;
		width: 1180px; height: 620px;
		left:100px; top:100px;
		visibility:hidden;

		#loadingBar {
			@extend .borderSolidBlack1px;
			background-color:#66CC66;
			border-radius:2px;
			width:60%; height:10%;
			left:20%; top:45%;

			#progressBar {
				@extend .borderSolidBlack1px;
				background-color:#CC3333;
				border-radius:2px;
				width:0%; height:100%;
				left:-1px; top:-1px;}

			#progressText {
				text-align:center;
				font-size:15px;
				font-weight:bold;
				line-height:10%;
				width:60%; height:10%;
				left:20%; top:45%;}
		}
	}
}