* {
	box-sizing:border-box;
}

.relativeBlock {
	position: relative;
	display: block;}

.relativeInlineBlock {
	position: relative;
	display: inline-block;}

.borderSolidBlack1px {
	border:solid black 1px;}

/*BACKGROUND COLORS*/
.bgBlack { 
	background-color: black;}
.bgBlue {
	background-color: blue;}
.bgBrown {
	background-color: brown;}
.bgGrey {
	background-color: grey;}
.bgGreen {
	background-color: green;}
.bgRed { 
	background-color: red;}
.bgWhite { 
	background-color: white;}

/*FONT COLORS*/
.fcBlack { 
	color: black;}
.fcBlue { 
	color: blue;}
.fcGreen { 
	color: green;}
.fcRed { 
	color: red;}
.fcWhite { 
	color: white;}

.autoSize {
	width:auto;
	height:auto;}

body {
	background-color:black; 
	/*width:1280px; 
	height:720px; */
	margin:auto; 
	overflow:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; }

div, textarea, button, input {
	position:absolute;}
