/*LOADING SCREEN*/

#shell {
	width: 100%;
	height: 100%;
	position: relative;
}

#e_gui {
}

#e_grid,
#toolInterfaceContainer {
}









#loading_screen {
	background-color:#FF3333;
	width: 1180px; height: 620px;
	left:100px; top:100px;
	visibility:hidden;
}
#loadingBar {
	@extend .solidBorder;
	background-color:#66CC66;
	/*border:solid black 1px;*/
	border-radius:2px;
	width:60%; height:10%;
	left:20%; top:45%;
}
#progressBar {
	@extend .solidBorder;
	background-color:#CC3333;
	/*border:solid black 1px;*/
	border-radius:2px;
	width:0%; height:100%;
	left:-1px; top:-1px;
}
#progressText {
	text-align:center;
	font-size:15px;
	font-weight:bold;
	line-height:10%;
	width:60%; height:10%;
	left:20%; top:45%;
}

/*MENU BAR*/
#title {left:675px; top:30px; font-size:30px; font-weight:bold;}
#e_menuBar 	{
	background-color:white; 
	border:solid black 1px; 
	width:100%; 
	height:98px;
	left:0px; 
	top:0px; 
	padding:0px; 
	margin:0px;
}

#mapNameLabel {width:px; height:px; left:20px; top:20px;}
#mapNameTextField {width:px; height:px; left:125px; top:18px;}

#gridWidthLabel {width:px; height:px; left:20px; top:60px;}
#gridWidthTextField {width:px; height:px; left:125px; top:58px;}

#gridHeightLabel {width:px; height:px; left:200px; top:60px;}
#gridHeightTextField {width:px; height:px; left:305px; top:58px;}



#genGridBtn {width:px; height:px; left:400px; top:58px; font-weight:bold;}
#clearBtn {width:px; height:px; left:550px; top:58px;}
#playTestBtn {width:250px; height:55px; left:990px; top:35px; font-weight:bold;}
#loadBtn {width:px; height:px; left:1000px; top:5px;}
#printBtn {width:px; height:px; left:1125px; top:5px; font-weight:bold;}

/*TOOL BAR*/
#e_toolBar 	{
	background-color:white; 
	border:1px solid black; 
	width:120px; 
	height:620px; 
	left:0px; 
	top:99px; 
	padding:0px; 
	margin:0px;}

#toolGroups {
	position: relative;
	width:auto; 
	height:auto;
	margin:auto;
	visibility: visible;
	/*left:400px;*/ 
	/*top:20px;*/
}

#fSS_tools {}
	#tileCubes {}
		#ground {background-color:brown; width:20px; height:20px; left:40px; top:20px;}
		#wall {background-color:grey; width:20px; height:20px; left:40px; top:80px;}
	#tileCorners {}
	#smallObjects {}
	#mediumObjects {}
	#largeObjects {}
	#characters {}
		#player {background-color:blue; width:20px; height:20px; left:40px; top:140px;}
	#enemies {}
		#enemy_1 {background-color:red; width:20px; height:20px; left:40px; top:200px;}
#pSS_tools {}
#fTD_tools {}
#pTD_tools {}
	

/*CONSOLE*/
#e_console {
	background-color:white; 
	border:solid black 1px; 
	width:100%; 
	height:98px; 
	left:0px; 
	bottom:0px; 
	padding:0px; 
	margin:0px;
}
#console {left:5px; top:5px;}
#clearConsoleBtn {width:px; height:px; left:1035px; top:5px; font-weight:bold;}

/*GRID*/
#e_grid	{
	background-color:green; 
	/*left:100px; 
	top:100px;*/	
	overflow:auto;
}
#toolInterfaceContainer {
	left:100px; 
	top:100px;	
	overflow:auto;
}
#toolInterface {
	left:0px; 
	top:0px;
} /*width:1180px; height:620px; */